body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url("https://lh3.googleusercontent.com/hcwmSY_QRiUdZqrPGyB8pQ8OcVnC3WDHa3kzCZB9MKbsHu-d31L6t6MTpb2OVJ3P9yOFbsoXkBknNjSSXIFoMuKfEuFG_YMM9zDp4zqQcWeNmt4e8A1q8zoge4Tflw5lI4SSw24bIju9-MctEhQuwOyTplwUPURVybuvCnkkrXt8KXhWsCBZKUpP7dEEJAFWoeLZchubL7FxZtNzVqgg8hd8gZaFM_o5epdIcm6byU3BiR8o4g9taCXv6wj39_I8TMh_GNCMC_t-7A8sC_jlIUQ5zFXgboxtOP7b62tzZNYMxlo9MtgaZOissybONZ1W7Hm39vf6Z2p03JG5s_G88h1_kkSvZDMiyY0gj_CV4gqkcxjTyLlJuJGdAJ9yxO8gIO87r7ONPllvwChKw_xS2-myX9y-7608zT4FLNcYpesvIpwk66WdARvUlX9UkpuyaxACeijwFg_fQxw6WJZToDclKT7n97d5KCV5191OgJGXJR8T2tuxLy1yx-6cbZ_DM7ksKdo8zvn6EPonfj8sdih3gHqt9dLw1sVkCZlxEKKqCza0ZeQh73U4sp7GwDbINwugEr8SsaMZvUfAvTbSqrlNu7xt6Bhw7woLgfe2h6wYk44iHo7mXqIfHRCD27x9p2jmXAP20jEC4L5fvm_vRfERgQ_zUtJ4LtTSUseXnFXLY3XsgVOBUs0=w2352-h1596-no");
}
.slideshow li:nth-child(2) { 
  background-image: url("https://lh3.googleusercontent.com/GbxWwPZ5OJdfFq37F9aSS87HYSfmjgFd2QToWlPx3OScQmjdoMtbQnkChCNAdwBGTHAjDSSWlL85F6EhRVWXoUzDRiEsgzU6q00T9uagDcliEFdIAeanhSOaHmDFuxKUJ225p-xLDacluEQyOlovQtHwFWm0QM40IbrYmUbB176w-6O5OGgCbjgg_N7ZqmY_60KNJ84vsNyQI7mxtDl9BYtlT9A-QfH6O1JUuAZoHgr_t6oBld_IoLaszlLUHX7eDURiU_LnF0ESfI3g4TrdnV8q3YJYU-6sNChONDHvYvbB30vAPplOajNLoLTVrqt7ET8MOG4gQ0XriyKBZEdpB985rQvRqEGVZKbyzk6xGc49sEux48jPoDUFb1QCfXHtQLlBrnq4Nqp04ZRg4e9921_dDU2wDepnZqxGKUIvPEfKYswYkJ5bpBR6Qwkp6yZgRNmci6ol77-YFkotlld7JKA__M7YJn_q8z6C7Bgpvnb6BbVaVQ6pIs2AZvjlUDZXMnwMoggSbjtxdx-edwt0Jsk7fYrlXcTHmz94p4F641aZdOKbiTsWqvJw0RE4ObD8_R2h-imuPsSpZqhuhQSwMsr6llUEzR5XlfvD1OV_dytjr4vAqSIbc2sfOzAkTBgo_5Pi7M0RqukOSxhOPQu2scbNIjopPC4TjcgmHbvO_EWsETqQRNcYOUg=w2396-h1596-no");
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url("https://lh3.googleusercontent.com/2JCQ1NXviBSn9nELbtMUk3CMOnneAi2AvDtxbfc4M-zWw5lCjBfkbA0pVDUKRa8orHRKag5UN5kWqbRlT2h_jhMUu9FEH8GjGc3BTdjuPFrY_ZZ8rByuYYNT5T50fwJyQBCCdxCMSAgtyjFt9jvPkcVjpqKQqaXi3nlT2mrkpfrYmqniPbiI29CxQk0EMkJxb6aTKK_vuv3XQI3e6Kaghg7vP0ueXkY1tdjOa2UJ7ru__woi-ao1zRgt2yayvmC7Qj4LBxvoUfVTe29qF21gV-4HTTvrdw5l1j2XkcGuD0GOZJcciMXXxhtXaVRjJ6joNeXJckhowAc1b6YM1yZiNTbg9-LICFyMi_wOZ_Nb2wogvlpU3PfJsYasHPP5JMgG2LQ4UYVw_lBQFMcgQ0cHrOkXWUBb-FUwPPLFi4SjsK_EttCk6Wko36QjDwhPaKdUWhD7ZAiDrsJeZnMSjGI8KvwwjQGR3iLpzS4o7lFHBX201IxF7xJMCI08mri26PBFtbEnAfbunEY2PTJ_9_jSLi9yNxIm7ccXoDYdqGrclDctrvCRpJTwnLyI-U8XTey_A8gXDBDXluU5Ym2upW5r5lXrUD8_TkA46UqJChgo1ftrZXIt8dCQCfr3i1dIWyeCCaSGpZIbKuPoYIHKU_Q3quylnKqz_HKyALg5vjQm7jDx5AF9Om3pKac=w2396-h1596-no");
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url("https://lh3.googleusercontent.com/SvbUnx6qLVLyNvqiRjD35v-AoC8YvmX2qYPnhLzEoG2oY3sGU3_-tSOxtpnUaI9QqoKGHEvgBwXCD6X-of5vJcYoJmz0oQZUlRzjM182-F0KzehVETW4EUUBoZShCMRviykxpkhg3-yMkrd0j-Hp1BBwgd_fW661YiVYSBHczBY_CGJtPzqJI7SrSC7HIswbQ5V1SvUoQDFL_baioDHPYYhFImjxnPFWtw_HqGBXc8n6_06K3DG4kTm8rARo4MPXjy9R6kCeUn0aB87cZeEsQlXYlUMHk49I4fIhwprgoJtzQJXetxuY3IvnGtnOqnpTRyb3fPLLmVYzdCF84SNp9ncA6J83B2mN-YC3z6eLBeTknNwxQxmdzCMaxljfKPAcm1dA4qiDdhyzEnT-pFpJlbdcZpEBym_jwAGAx6MgwkP0ydf7rJjLSimPx-qp_Baf9OXXZu21TpJ5F5NeLLsPPyadPxqgyBBqDamrlH3-XhbxzvNXs8tUzq4bdc2qsTa-UJeEzYGd1iQMJFSAnkjGNxa02lYv1Gu6eW14AkbyoxlQn3RQ3OrQuevwr7RjsDoMZSc1CkWOAFnY4BmBQgwezckiOpjGHAgkUi25bh6diUBAhK3qY9pNnfapKS7_TVgCBY3ktFgQC4_82zx-L6nEzhcDlL5YnD5Aivfha2rnEmoAnqG_d1UM8vU=w2396-h1596-no");
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url("https://lh3.googleusercontent.com/c4FJLOAwbBYy7zusAkZRVp1ZPz1dx6PMDlCqbqubEXwh00VL1m6HiBsdeXns3MiTOoCWHvnXNE_lsGLJXsg3GgUT8hds3fznrAFl3HdeepqyGFZL9-YUyfrH0CYQ_Cm7MC3SUcejkilxkezP0aICeh3dG6cZ_AjPBmYVYL7cyAxDgpLLq-onHBk_0GNGvb45e5TxNlH4Z5FrtPdsVcOTkzOiosRqh-95nwszXbQPWNm0WAkdlFASB8roDgFTOOH91YIocCl_FmaSscnUchQfceHiXUYawwSQPXfFfTeTkxCkbkScQrvr688ClgTkHkFPffQIvoEbmgkcD6Ypy3U9xOUVrYKxggkN6KAyEEZFvDVzgWVSZihmzANiMRzEokqjdyNlX0WZKduq451t_Ss6zVkHjFm5ZD4KAl0NBD701mF-H2HXrvheFTyO9ZyvIktM1Iv0ZbCQcgQcDdAC-JinZHWVtKRMuUIhCM69zC2MihueKBGX4XqpIQzODFbRxXXzsnaztaljau2wi-PppfCgPYR0PVluZtURQiip2Ss8F5P2kNqvvZbU6Lj8WVLru46FjHbhKFJi4OYAZ6Go7DDuBdQIsQmUjwINEgtvNUG0ySYawPFUmTtJMgHqF1ML8ZqFj0fC7IAinBqlj-L065hoqn679MKQEOKD1TNf_GVC1880IdFPd9m_OGY=w2396-h1596-no");
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}